body {
  padding-top: 65px;
  background-image: url("../images/wallpaper1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@font-face {
  font-family: "rick";
  src: local("get_schwifty"), url(../fonts/get_schwifty.ttf) format("truetype");
}
@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}
@media (min-width: 768px) {
  .card-columns {
    column-count: 4;
  }
}
@media (min-width: 992px) {
  .card-columns {
    column-count: 4;
  }
}
@media (min-width: 1200px) {
  .card-columns {
    column-count: 4;
  }
}


.list-info {
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.navbar-fixed-top {
  border: 0;
  top: 0;
  display: flex;
}

.card{
    margin-top: 1rem;
}

#title{
    font-family: "rick";
    font-size: 1.5rem;
    color: #00B0C8;
}

.btn-outline-blue{
    color: #00B0C8;
    background-color: transparent;
    background-image: none;
    border-color: #00B0C8;
}

.btn-outline-blue:hover{
    color: #fff;
    background-color: #00B0C8;
    border-color: #00B0C8;
}

.btn-blue{
    color: #fff !important;
    background-color: #00B0C8;
    border-color: #00B0C8;
}

.btn-blue-dark{
    color: #fff !important;
    background-color: #008799;
    border-color: #008799;
}

.btn-blue:hover{
    color: #fff !important;
    background-color: #008799;
    border-color: #008799;
}

.page-item{
    margin: 0 1rem;
    
}
.page-link{
    border-radius: 0.25rem;
}

#fichaActor{
  margin-top: 1rem;
  background-color: rgba(108, 117, 125, 0.95);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

#nameCharacter{
  -webkit-text-stroke: 1px greenyellow;
  font-family: "rick";
  font-size: 2.5rem;
  color: #00B0C8;
  padding: 1.2rem;
}

.details{
  color: #313131;
  padding: 0.75rem 0;
  border-top: 1px solid rgba(255,255,255,.75);
}

.details>p{
  margin:0;
  color: white;
  font-weight: bold;
}

.details>a{
  color:inherit;
}